html {
	height: 100%;
}

body {
	height: 100%;
}

#parent-container {
	height: 100%;
}

#header-element {
	margin-bottom: 40px;
}

#login-section {
	width: 30%;
	float: left;
	padding-top: 35px;
}

#login-form {
	margin-bottom: 20px;
}

#username-input {
	margin-bottom: 5px;
}

#password-input {
	margin-bottom: 10px;
}

#video-section {
	width: 70%;
	float: left;
}

#tutorial-video {
	float: right;
}
