.top-level-container {
    width: 100%;
    max-width: 100%;
}

.column-view-div {
    width: 100%;
    height: 500px;
}

#sample-image {
    width: 48%;
    height: 480px;
    margin: 0px;
    float: left;
    margin-right: 5px;
    background-size: 600px;
    background-repeat: no-repeat;
}

.front-image {
    background-image: url(/static/images/front_full.jpg);
}

.side-image {
    background-image: url(/static/images/side_full.jpg);
}

/* must be id for some reason */
#videoElement {
    width: 640px;
    height: 480px;
    background-color: #666;
}