<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contour App</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/index.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>

    <div id="parent-container" class="container">
        <div id="header-element" class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="{{ url_for('main') }}">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Contour App</h3>
        </div>
        <div id="login-section">
            <p>
                Create an account:
            </p>
            <form id="login-form" action="/addUser" method="get">
                <input id="username-input" type="text" placeholder="Username" name="username" value="{{
                  request.form.username }}">
                  <br />
                 <input id="password-input" type="password" placeholder="Password" name="password" value="{{
                  request.form.password }}">
                  <br />
                <input class="btn btn-default" type="submit" value="Create Account">
            </form>

            <p>
                Or  <a href="/photos">click here</a> to login if you already have an account with us.
            </p>
        </div>
        <div id="video-section">
        <video preload="none" id="tutorial-video" width="720" height="480" controls poster="/static/videos/poster.png">
          <source src="/static/videos/tutorial.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        </div>
    </div>
</body>

</html>