<!DOCTYPE html>
<html>
<head>
    <title>Contour App</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    <script>

    </script>
</head>

<body>
    <div class="container top-level-container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="{{ url_for('main') }}">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Contour App</h3>
        </div>

        <h4 id="currentView" name="currentView"></h4>
        <p id="instruction-text">
            Make sure you are seated and sitting as straight as possible and are not wearing baggy clothing.
            <br />
            Then take a picture of your torso while holding a credit card flat against your chest, making sure it is parallel to your body as shown in the example below! 

            <br />
            Extend your arms out at a 45 degree angle, entusre the neck, chest and waist are clearly visible and try to center the credit card on-screen as much as possible.

            <br />

            Press the "Take Photo" button below once you've got your pose right! You'll have three seconds to fix your pose.

        </p>
        <div class="column-view-div">
            <div id="sample-image" class="container">
            </div>
    		<div id="video-container">
    		    <video autoplay="true" id="videoElement"></video>
    		</div>
        </div>
        <div id="lower-bar">
            <div id="lower-bar-triple-section">
            </div>
            <div id="lower-bar-triple-section">
                <p id="progress-bar">1 / 2</p>
            </div>
            <div id="lower-bar-triple-section">
                <button id="snap" class="btn btn-success">Take Photo</button>
            </div>
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <p id="instruction-text">Does your image on the right look like the sample image on the left? Key things to check for are: <br /> 
            Are your neck, chest and waist all visible in the photo?
            <br />
            Is the credit card around the center and you are not wearing baggy clothing?
            </p>

            <div id="modal-sample-image">
            </div>
            <div id="preview-image">
            </div>
            <div id="button-spacing">
                <button id="upload-photo" class="btn btn-success">Looks Good!</button>
                <button id="retake-photo" class="btn btn-success">Retake photo!</button>
            </div>
          </div>

        </div>
		<script>
    		var video = document.querySelector("#videoElement");

    		navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

    		if (navigator.getUserMedia) {
    		    navigator.getUserMedia({video: true}, handleVideo, videoError);
    		}

    		function handleVideo(stream) {
    		    video.src = window.URL.createObjectURL(stream);
    		}

    		function videoError(e) {
    		    // do something
    		}
		</script>
		<canvas id="canvas" width="640" height="480" ></canvas>


	</div>
</body>
</html>

<script type="text/javascript">
    document.getElementById("canvas").style.visibility = "hidden";

    var viewCount = 0;
    var views = {{ views|safe }};
    var totalViews = views.length;

    // set the class for the original element
    document.getElementById("currentView").innerHTML = views[viewCount]
    var imageClassName = (viewCount == 0) ? " front-image" : " side-image";
    var d = document.getElementById("sample-image");
    d.className += imageClassName;

    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");
    // flip context because the video is by default flipped backwards
    context.scale(-1, 1);


    // MODAL THINGS Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("snap");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            // if modal is up, there is a preview image in it
            // if we offclick the modal, the preview image should not re-appear
            var previewImage = document.getElementById("preview-image");
            previewImage.removeChild(previewImage.childNodes[1]);
            modal.style.display = "none";
        }
    }

    // stub for success handle
    function success(data) {
        console.log("success");
    }

    // stub for error handling
    function error(request, status, error) {
        console.log("we failed");
        console.log(request);
        console.log(status);
        console.log(error);
    }

    function uploadPhoto(canvas) {
/*        console.log("hello");
        context.drawImage(video, 0, 0, 640, 480);*/
        if (viewCount == 0) {
            // update progress bar
            document.getElementById("progress-bar").innerHTML = "2 / 2";
            var data = canvas.toDataURL('image/png', 0.0);
            $.ajax({
                url: '/uploadFront',
                data: data,
                type: 'GET',
                success: success,
                error: error
            });
            /*html2canvas([canvas], {
                onrendered: function(canvas) {
                    document.body.appendChild(canvas);
                    var data = canvas.toDataURL('image/png', 0.0);
                    // AJAX call to send `data` to a PHP file that creates an image from the dataURI string and saves it to a directory on the server
                    $.ajax({
                        url: '/uploadFront',
                        data: data,
                        type: 'GET',
                        success: success,
                        error: error
                    });
                }
            });*/
        }
        if (viewCount == 1) {
            document.getElementById("snap").disabled = true
            document.getElementById("snap").innerHTML = "LOADING PICTURES..."
            var data = canvas.toDataURL('image/png', 0.0);
                    // AJAX call to send `data` to a PHP file that creates an image from the dataURI string and saves it to a directory on the server
            $.ajax({
                url: '/uploadSide',
                data: data,
                type: 'GET',
                success: success,
                error: error
            });

/*            html2canvas([canvas], {
                onrendered: function(canvas) {
                    document.body.appendChild(canvas);
                    var data = canvas.toDataURL('image/png', 0.0);
                    $.ajax({
                        url: '/uploadSide',
                        data: data,
                        type: 'GET',
                        success: success,
                        error: error
                    }).then(function() {
                        console.log("upload complete");
                    });
                }
            });*/
            setTimeout(function(){ window.location.href='/contouring'; }, 1000);
        }
        // modal
        viewCount++;
        document.getElementById("currentView").innerHTML = views[1];
        // change sample image
        // TODO: super hacky...what we should really do is delete the old class and add the new class
        // currently it just appends and class precedence provides the functionality
        var imageClassName = (viewCount == 0) ? " front-image" : " side-image";
        var d = document.getElementById("sample-image");
        d.className += imageClassName;
        var sideInstructionalText = " Make sure you are seated, sitting as straight as possible and are not wearing baggy clothing. <br /> Then take a picture of your torso while holding a credit card perpendicular against your waist, making sure it  is as shown in the example below! <br /> Extend your arms out at a 45 degree angle, entusre the neck, chest and waist are clearly visible and try to center the credit card on-screen as much as possible.<br /> Press the 'Take Photo' button below once you've got your pose right! You'll have three seconds to fix your pose.";
        document.getElementById("instruction-text").innerHTML = sideInstructionalText;

        // debug
        console.log(viewCount);
        console.log("completed!");
    }; // take photo click response


    // When the user clicks on the button, open the modal
    // add timeout delay 
    btn.onclick = function() {
        var takePhotoButton = document.getElementById("snap");
        takePhotoButton.innerHTML = "3";
        setTimeout(function() {
             // add correct sample image to modal
            var modalImageClassName = (viewCount == 0) ? " front-image" : " side-image";
            document.getElementById("modal-sample-image").className += modalImageClassName;
            
            // "take the image"
            // negative width to flip the image the right way
            context.drawImage(video, 0, 0, -640, 480);
            html2canvas([canvas], {
                onrendered: function(canvas) {
                    // render to modal
                    var previewImage = document.getElementById("preview-image");
                    var domPreviewImage = previewImage.appendChild(canvas);
                    domPreviewImage.className = "modal-image-container";
                    // add some classes, do some styling

                    document.getElementById("retake-photo").onclick = function () {
                            // for some reason, there is another child node that is there at position 0 ...it is #text and seems to contain nothing and i do not see this element when i inspect
                            /*var imageContainer = document.getElementsByClassName("modal-image-container");
*/
                            //imageContainer.parentNode.removeChild(imageContainer);
                            previewImage.removeChild(previewImage.childNodes[1]);
                            
                            // do nothing and close the modal
                            modal.style.display = "none";
                        };

                    document.getElementById("upload-photo").onclick = function() {
                            // for some reason, there is another child node that is there at position 0 ...it is #text and seems to contain nothing and i do not see this element when i inspect
                            previewImage.removeChild(previewImage.childNodes[1]);
                            
                            // close the modal
                            modal.style.display = "none";

                            // closure to capture local canvas state
                            var myClosure = function() {
                                return uploadPhoto(canvas);
                            }
                            myClosure();
                        };
                    
                    // set everything up and then display modal
                    modal.style.display = "block";
                }
            });

            takePhotoButton.innerHTML = "Take Photo";
        }, 3000) // timeout

        setTimeout(function() { takePhotoButton.innerHTML = "2"; }, 1000);
        setTimeout(function() { takePhotoButton.innerHTML = "1"; }, 2000);


    };


</script>