<!DOCTYPE html>
<html>
<head>
    <title>Contour App</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

</head>

<body>
    <div class="container top-level-container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="{{ url_for('main') }}">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Contour App</h3>
        </div>

        <h4 id="currentView" name="currentView"></h4>
        <p>
            Take a picture of your torso while holding a credit card flat against your chest,
            like shown in the example below!
        </p>
        <p>
            Press the "Take Photo" button below once you've got your pose right!
        </p>
        <div class="column-view-div">
            <div id="sample-image" class="container">
            </div>
    		<div id="container">
    		    <video autoplay="true" id="videoElement"></video>
    		</div>
            <button id="snap" class="btn btn-success">Take Photo</button>
            <button id="snap2" class"btn btn-success">Increment ViewCount</button>
        </div>

		<script>
    		var video = document.querySelector("#videoElement");

    		navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

    		if (navigator.getUserMedia) {
    		    navigator.getUserMedia({video: true}, handleVideo, videoError);
    		}

    		function handleVideo(stream) {
    		    video.src = window.URL.createObjectURL(stream);
    		}

    		function videoError(e) {
    		    // do something
    		}
		</script>
		<canvas id="canvas" width="640" height="480" ></canvas>


	</div>
</body>
</html>

<script type="text/javascript">
    document.getElementById("canvas").style.visibility = "hidden";

    var viewCount = 0;
    var views = {{ views|safe }};
    var totalViews = views.length;

    // set the class for the original element
    document.getElementById("currentView").innerHTML = views[viewCount]
    var imageClassName = (viewCount == 0) ? " front-image" : " side-image";
    var d = document.getElementById("sample-image");
    d.className += imageClassName;

    // dummy testing button
    document.getElementById("snap2").addEventListener("click", function() {
        viewCount++;
        var imageClassName = (viewCount == 0) ? " front-image" : " side-image";
        var d = document.getElementById("sample-image");
        d.className += imageClassName;
        document.getElementById("currentView").innerHTML = views[1]
    });

    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");

    // stub for success handle
    function success(data) {
        console.log("success");
    }

    // stub for error handling
    function error(request, status, error) {
        console.log("we failed");
        console.log(request);
        console.log(status);
        console.log(error);
    }

    document.getElementById("snap").addEventListener("click", function() {
        context.drawImage(video, 0, 0, 640, 480);
        if (viewCount == 0) {
            html2canvas([canvas], {
                onrendered: function(canvas) {
                    document.body.appendChild(canvas);
                    var data = canvas.toDataURL('image/png', 0.0);
                    // AJAX call to send `data` to a PHP file that creates an image from the dataURI string and saves it to a directory on the server
                    $.ajax({
                        url: '/uploadFront',
                        data: data,
                        type: 'GET',
                        success: success,
                        error: error
                    });
                }
            });
        }
        if (viewCount == 1) {
            document.getElementById("snap").disabled = true
            document.getElementById("snap").innerHTML = "LOADING PICTURES..."
            html2canvas([canvas], {
                onrendered: function(canvas) {
                    document.body.appendChild(canvas);
                    var data = canvas.toDataURL('image/png', 0.0);
                    // AJAX call to send `data` to a PHP file that creates an image from the dataURI string and saves it to a directory on the server
                    $.ajax({
                        url: '/uploadSide',
                        data: data,
                        type: 'GET',
                        success: success,
                        error: error
                    }).then(function() {
                        console.log("upload complete");
                    });
                }
            });
            setTimeout(function(){ window.location.href='/contouring'; }, 1000);
        }
        viewCount++;
        document.getElementById("currentView").innerHTML = views[1];
        // change sample image
        // TODO: super hacky...what we should really do is delete the old class and add the new class
        // currently it just appends and class precedence provides the functionality
        var imageClassName = (viewCount == 0) ? " front-image" : " side-image";
        var d = document.getElementById("sample-image");
        d.className += imageClassName;

        // debug
        console.log(viewCount);
        console.log("completed!");
    }); // take photo click response
</script>